<script src="{{ "/js/underscore-min.js" | prepend : site.baseurl }}"></script>
<script src="{{ "/js/backbone-min.js" | prepend : site.baseurl }}"></script>
<script src="{{ "/js/jquery-2.1.4.min.js" | prepend : site.baseurl }}"></script>
<script src="{{ "/bootstrap/js/bootstrap.min.js" | prepend : site.baseurl }}"></script>
<script src="{{ "/js/jquery-jvectormap-2.0.4.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery-jvectormap-world-mill.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/site.js" | prepend: site.baseulr }}"></script>
