<script>
var url_api = '{{ site.url_api }}';
</script>

<script src="{{ "/js/vendor/underscore-min.js" | prepend : site.baseurl }}"></script>
<script src="{{ "/js/vendor/backbone-min.js" | prepend : site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery-2.1.4.min.js" | prepend : site.baseurl }}"></script>
<script src="{{ "/bootstrap/js/bootstrap.min.js" | prepend : site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery-jvectormap-2.0.4.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery-jvectormap-world-mill.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/vendor/jquery.dataTables.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bundle.js" | prepend: site.baseurl }}"></script>
