<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}<sup style="color: #ccc">&alpha;lpha</sup></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/about/">About</a></li>
        <li><a href="/datasets/">Datasets</a></li>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/contribute/">Contribute</a></li>
        <!--<li><a href="/blog/">Blog</a></li>-->
      </ul>
      <div class="pull-right" style="margin-top: 6px;"><a class="btn btn-xsmall btn-success share-button" href="http://6xukdmu73gkvvuvv.onion">Share data (Tor)</a></div>
    </div>
  </div>
</nav>
