.nav.darkgreen>li>a {
  background-color: #d3d3d3;
  color:black;
  border-color: #d3d3d3;
  bottom-border:0px;
 }

.nav.darkgreen>li.active>a, .nav.darkgreen>li.active>a:hover, .nav.darkgreen>li.active>a:focus {
  background-color: #18bc9c;
  color: black;
  border-color: #18bc9c;
  bottom-border:0px;
}

.nav.fadedgreen>li>a {
  background-color: #8CDECE;
  color:black;
  border-color:#18bc9c;
  top-border:0px;
}

.nav.fadedgreen>li.active>a, .nav.fadedgreen>li.active>a:hover, .nav.fadedgreen>li.active>a:focus {
 color: black;
 top-border:0px;
 border-color:#18bc9c;
 background-color:#18bc9c;
}

.share-button {
  @media (max-width: 767px) {
    margin-bottom: 1em;
  }
}

